/*загальні зміни*/
a {
  text-decoration: none;
}
li {
  list-style-type: none;
}
:root {
  --selection-color: #2196f3;
  --head-color: #212121;
  --text-color: #757575;
  --svg-color: #afb1b8;
  --bc: #f5f4fa;
  --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
body {
  font-family: Roboto, sans-serif;
  color: var(--head-color);
  margin: 0;
}
h1,h2,h3,h4,p,ul {
  margin: 0;
  padding: 0;
}
img {
  display: block;
}
.container {
  width: 1200px;
  padding: 0 15px;
  margin-left: auto;
  margin-right: auto;
}
.section {
  padding-bottom: 94px;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
textarea {
  resize: none;
}

/*header*/
header {
  border-bottom: 1px solid #ececec;
}
.header-container {
  display: flex;
  align-items: center;
}
.navigation {
  display: flex;
  align-items: center;
}

/*logo*/

.logo {
  font-family: Raleway;
  font-size: 26px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.2;
  letter-spacing: 0.78px;
}
.logo--light {
  color: #000;
}
.logo--dark {
  display: inline-block;

  color: #fff;
}
.logo__color {
  color: var(--selection-color);
}

/*navigation*/

.navigation__list {
  display: flex;
  margin-left: 93px;
}
.navigation__item:not(:last-child) {
  margin-right: 50px;
}
.navigation__link {
  display: block;
  padding: 32px 0;

  position: relative;

  color: var(--head-color);
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.28px;

  transition: color 250ms var(--timing-function);
}
.navigation__link:focus,
.navigation__link:hover {
  color: var(--selection-color);
}
.navigation__link--current {
  color: var(--selection-color);
}
.navigation__link--current::after {
  content: "";

  display: block;
  position: absolute;

  bottom: 0;
  left: 0;
  width: 100%;
  height: 4px;
  background-color: var(--selection-color);
  border-radius: 2px;
}

/*contacts*/

.contacts {
  display: flex;
  margin-left: auto;
}
.contacts__link {
  display: flex;
  align-items: center;

  color: var(--text-color);
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.28px;

  transition: color 250ms var(--timing-function);
}
.contacts__link:focus,
.contacts__link:hover {
  color: var(--selection-color);
}
.contacts__icon {
  margin-right: 10px;
  fill: var(--text-color);

  transition: fill 250ms var(--timing-function);
}
.contacts__link:focus .contacts__icon,
.contacts__link:hover .contacts__icon {
  fill: var(--selection-color);
}
.contacts__item:not(:last-child) {
  margin-right: 40px;
}

/*index.html*/
/*hero*/

.hero {
  margin-right: auto;
  margin-left: auto;
  text-align: center;
  background-color: #c4c4c4;
  padding: 200px 0;
  max-width: 1600px;

  background-image: linear-gradient(
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../images/Img.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.hero__head {
  width: 696px;

  margin-bottom: 30px;
  margin-left: auto;
  margin-right: auto;

  color: #fff;
  text-align: center;
  font-size: 44px;
  font-style: normal;
  font-weight: 900;
  line-height: 1.36364;
  letter-spacing: 2.64px;
  text-transform: uppercase;
}
.hero__button {
  width: 200px;
  height: 50px;
  border-radius: 4px;
  border: 1px;

  color: #fff;
  background-color: var(--selection-color);
  text-align: center;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.875;
  letter-spacing: 0.96px;
  cursor: pointer;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
}

/*backdrop*/

.backdrop {
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  background: rgba(0, 0, 0, 0.2);
  opacity: 1;
  visibility: visible;
  transition: opacity 250ms var(--timing-function),
    visibility 250ms var(--timing-function);
}
.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}
.modal {
  position: absolute;
  z-index: 1;
  width: 528px;
  height: 581px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);

  border-radius: 4px;
  background: #fff;
  box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.2),
    0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);

  transition: transform 250ms var(--timing-function);
}
.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0.9);
}
.modal__button {
  position: absolute;
  top: 8px;
  right: 8px;

  width: 30px;
  height: 30px;
  padding: 0;
  border: none;
  font: inherit;
  color: inherit;
  background-color: transparent;
  cursor: pointer;
}
.modal__icon {
  fill: #000;
  transition: fill 250ms var(--timing-function);
}
.modal__button:hover .modal__icon,
.modal__button:focus .modal__icon {
  fill: var(--selection-color);
}

/*form*/

.form {
  padding: 40px;
}
.form__head {
  margin-bottom: 12px;

  color: var(--head-color);
  text-align: center;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.2;
  letter-spacing: 0.6px;
}
.form__field {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
  position: relative;
}
.form__label {
  margin-right: auto;
  margin-bottom: 4px;

  color: var(--text-color);
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.2;
  letter-spacing: 0.12px;
}
.form__input {
  width: 100%;
  height: 40px;
  padding-left: 42px;
  border-radius: 4px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  outline: none;
}
.form__input:hover,
.form__input:focus {
  border: 1px solid var(--selection-color);
}
.form__input:hover + .form__icon,
.form__input:focus + .form__icon {
  fill: var(--selection-color);
}
.form__icon {
  position: absolute;
  bottom: 11px;
  left: 12px;
}
.form__button {
  width: 200px;
  height: 50px;
  border-radius: 4px;
  border: 1px;
  background-color: var(--selection-color);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  cursor: pointer;

  color: #fff;
  text-align: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.87;
  letter-spacing: 0.96px;

  transition: background-color 250ms var(--timing-function);
}
.form__button:hover,
.form__button:focus {
  background-color: #188ce8;
}

/*comment*/

.comment {
  margin-bottom: 20px;
}
.comment__textarea {
  width: 100%;
  height: 120px;
  padding: 12px 16px;
  border-radius: 4px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  outline: none;
}
.comment__textarea::placeholder {
  color: rgba(117, 117, 117, 0.5);
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.2;
  letter-spacing: 0.12px;
}
.comment__textarea:hover,
.comment__textarea:focus {
  border: 1px solid var(--selection-color);
}

/*checkbox*/

.checkbox {
  margin-bottom: 30px;
  position: relative;
}
.checkbox__icon {
  position: absolute;
  margin-left: -24px;
  top: 50%;
  transform: translate(0, -50%);
}
.checkbox__icon--on {
  opacity: 0;
}
.checkbox__icon--off {
  opacity: 1;
}
.checkbox__input:checked + .checkbox__icon--on {
  opacity: 1;
}
.checkbox__input:checked ~ .checkbox__icon--off {
  opacity: 0;
}
.checkbox__input:focus ~ .checkbox__icon--off,
.checkbox__input:hover ~ .checkbox__icon--off {
  fill: var(--selection-color);
}
.checkbox__label {
  color: var(--text-color);
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.71;
  letter-spacing: 0.42px;
}
.checkbox__link {
  color: var(--selection-color);
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.71;
  letter-spacing: 0.42px;
  text-decoration-line: underline;
}

/*advantages*/

.advantages {
  padding-top: 94px;
}
.advantages__list {
  display: flex;
}
.advantages__item {
  width: 270px;
}
.advantages__item:not(:last-child) {
  margin-right: 30px;
}
.advantages__box {
  border-radius: 4px;
  width: 270px;
  height: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--bc);
  margin-bottom: 30px;
}
.advantages__head {
  margin-bottom: 10px;

  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.2;
  letter-spacing: 0.42px;
  text-transform: uppercase;
}
.advantages__text {
  color: var(--text-color);

  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.71429;
  letter-spacing: 0.42px;
}

/*about*/

.about__head {
  margin-bottom: 50px;
  text-align: center;

  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.2;
  letter-spacing: 1.08px;
}
.about__list {
  display: flex;
}
.about__item:not(:last-child) {
  margin-right: 30px;
}
.about__item {
  position: relative;
  z-index: 0;
}
.about__overlay {
  display: flex;
  justify-content: center;
  align-items: center;

  position: absolute;
  z-index: 0;

  background: rgba(47, 48, 58, 0.8);
  left: 0;
  bottom: 0;
  width: 100%;
  height: 70px;
}
.about__text {
  color: #fff;
  text-align: center;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.2;
  letter-spacing: 0.42px;
  text-transform: uppercase;
}

/*team*/

.team {
  background: var(--bc);
  padding-top: 94px;
}
.team__head {
  margin-bottom: 50px;
  text-align: center;

  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.2;
  letter-spacing: 1.08px;
}
.team__list {
  display: flex;
}
.team__item {
  background-color: #fff;
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.2),
    0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
}
.team__item:not(:last-child) {
  margin-right: 30px;
}
.team__inner {
  padding: 30px 0;
}
.team__name {
  text-align: center;

  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.48px;
}
.team__profession {
  margin-top: 10px;
  text-align: center;

  color: var(--text-color);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.2;
  letter-spacing: 0.48px;
}

/*social-networks*/

.social-networks {
  display: flex;
}
.social-networks--light {
  justify-content: center;
  margin-top: 16px;
}
.social-networks__item {
  display: flex;
  align-content: center;
  width: 44px;
  height: 44px;
}
.social-networks__item:not(:last-child) {
  margin-right: 10px;
}
.social-networks__link {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  width: 100%;
  height: 100%;

  transition: background-color 250ms var(--timing-function);
}
.social-networks__link:focus,
.social-networks__link:hover {
  background-color: var(--selection-color);
}
.social-networks__icon {
  fill: var(--svg-color);
  transition: fill 250ms var(--timing-function);
}
.social-networks__link:focus .social-networks__icon,
.social-networks__link:hover .social-networks__icon {
  fill: #fff;
}
.social-networks--dark {
  margin-top: 20px;
}
.social-networks__icon--dark {
  fill: #fff;
}
.social-networks__link--dark {
  background-color: rgba(255, 255, 255, 0.1);
}
/*clients*/

.clients {
  padding-top: 94px;
}
.clients__head {
  color: #212121;
  text-align: center;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.2;
  letter-spacing: 1.08px;
}
.cilents__list {
  display: flex;
  justify-content: center;
  margin-top: 50px;
}
.cilents__item {
  width: 170px;
  height: 92px;
}
.cilents__item:not(:last-child) {
  margin-right: 30px;
}
.clients__link {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  border: 1px solid var(--svg-color);

  transition: border-color 250ms var(--timing-function);
}
.clients__link:focus,
.clients__link:hover {
  border-color: var(--selection-color);
}
.clients__icon {
  fill: var(--svg-color);

  transition: fill 250ms var(--timing-function);
}
.clients__link:focus .clients__icon,
.clients__link:hover .clients__icon {
  fill: var(--selection-color);
}

/*portfolio.html*/
/*portfolio-navigation*/

.portfolio {
  padding-top: 94px;
}
.portfolio__list {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}
.portfolio__item:not(:last-child) {
  margin-right: 8px;
}
.portfolio__button {
  padding: 6px 22px;
  border-radius: 4px;
  border: var(--bc);

  background-color: var(--bc);
  text-align: center;
  cursor: pointer;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.625;
  letter-spacing: 0.48px;

  transition: color 250ms var(--timing-function),
    background-color 250ms var(--timing-function),
    box-shadow 250ms var(--timing-function);
}
.portfolio__button:focus,
.portfolio__button:hover {
  color: #fff;
  background-color: var(--selection-color);
  box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.12),
    0px 1px 2px 0px rgba(0, 0, 0, 0.08), 0px 3px 1px 0px rgba(0, 0, 0, 0.1);
}

/*portfolio-grid*/

.grid {
  display: flex;
  flex-wrap: wrap;
}
.grid__item:not(:nth-child(3n)) {
  margin-right: 30px;
}
.grid__item:not(:nth-last-child(-n + 3)) {
  margin-bottom: 30px;
}

/*portfolio-card*/

.card {
  display: block;

  transition: box-shadow 250ms var(--timing-function);
}
.card:hover,
.card:focus {
  box-shadow: 1px 4px 6px 0px rgba(0, 0, 0, 0.16),
    0px 4px 4px 0px rgba(0, 0, 0, 0.06), 0px 1px 1px 0px rgba(0, 0, 0, 0.12);
}
.card__box {
  position: relative;
  overflow: hidden;
}
.card__overlay {
  display: flex;
  justify-content: center;
  align-items: center;

  position: absolute;
  top: 0;
  width: 100%;
  height: 294px;

  background: rgba(33, 150, 243, 0.9);

  transform: translateY(101%);
  transition: transform 250ms var(--timing-function);
}
.card:hover .card__overlay,
.card:focus .card__overlay {
  transform: translateY(0%);
}
.card__description {
  width: 322px;
  color: #fff;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.55;
  letter-spacing: 0.54px;
}
.card__border {
  border-bottom: 1px solid #eee;
  border-right: 1px solid #eee;
  border-left: 1px solid #eee;
  padding: 20px 24px;
}
.card__head {
  margin-bottom: 4px;

  color: var(--head-color);
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 2;
  letter-spacing: 1.08px;
}
.card__text {
  color: var(--text-color);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.875;
  letter-spacing: 0.48px;
}

/*footer*/

footer {
  background: #2f303a;
  padding: 60px 0;
}
.footer-box {
  display: flex;
  align-items: baseline;
}

/*main-section*/

.main-section {
  margin-right: 94px;
}
.address {
  margin-top: 28px;
}
.address__item:not(:last-child) {
  margin-bottom: 12px;
}
.address__location {
  color: #fff;

  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.71429;
  letter-spacing: 0.42px;
}
.address__contacts {
  color: rgba(255, 255, 255, 0.6);

  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.71429;
  letter-spacing: 0.42px;
}

/*joining*/

.joining__text {
  color: #fff;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.2;
  letter-spacing: 0.42px;
  text-transform: uppercase;
}


/*subscribe*/

.subscribe {
  margin-left: 92px;
}
.subscribe__text {
  margin-bottom: 20px;

  color: #fff;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.2;
  letter-spacing: 0.42px;
  text-transform: uppercase;
}
.subscribe__box {
  display: flex;
  position: relative;
}
.subscribe__input {
  width: 358px;
  height: 50px;
  flex-shrink: 0;
  padding: 15px 16px;
  margin-right: 12px;

  border-radius: 4px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  background: rgba(33, 150, 243, 0);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  outline: none;

  color: #fff;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.25;
  letter-spacing: 0.48px;
}
.subscribe__input::placeholder {
  color: rgba(255, 255, 255, 0.6);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.25;
  letter-spacing: 0.48px;
}
.subscribe__button {
  position: relative;
  width: 200px;
  height: 50px;
  flex-shrink: 0;
  padding: 10px 62px 10px 28px;

  border: 1px;
  border-radius: 4px;
  background: #2196f3;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);

  color: #fff;
  text-align: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.87;
  letter-spacing: 0.96px;
  cursor: pointer;
}
.subscribe__icon {
  position: absolute;
  right: 28px;
  bottom: 13px;
  fill: #fff;
}
