.grid {
  display: flex;
  flex-wrap: wrap;
  &__item:not(:nth-child(3n)) {
    margin-right: 30px;
  }
  &__item:not(:nth-last-child(-n + 3)) {
    margin-bottom: 30px;
  }
}

/*.grid {
  display: grid;
  gap: 30px;
  grid-template-columns: repeat(3, 1fr);
}*/

/*$ca: 20px;
$p: 3;
.grid {
  display: flex;
  flex-wrap: wrap;
  gap: $ca;

  &__item {
    flex-basis: calc((100% - (($p - 1) * $ca)) / $p);
  }
}*/
