$colors-selection: #2196f3;
$colors-head: #212121;
$colors-text: #757575;
$colors-svg: #afb1b8;
$colors-background: #f5f4fa;
$colors-black: #000;
$colors-white: #fff;

$timing-function: cubic-bezier(0.4, 0, 0.2, 1);
